body 
{font-family: Arial, Helvetica, sans-serif;}
* 
{
    box-sizing: border-box;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button 
{
  border: none;
  cursor: pointer;
  background-color: mediumorchid;
  color: black;
  padding: 16px 20px;
  opacity: 0.7;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 200px;
  font-size: 15px;  
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 3px;
  margin: 5px 0 5px 0;
  border: none;
  background-color: lavender;
  resize: none;
  min-height: 10px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: aliceblue;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: mediumpurple;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    
  background-color: purple;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}